{% set page = { title: 'Дневник модели', background: 'diary-inner' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}

    <div class="container">
        <div class="breadcrumbs">
            {% set  list = [
                'Wmodels',
                'Дневник модели',
                'Как я решила работать дома'] %}

            {% for item in list %}
                <a href="#" class="breadcrumbs__link">
                    {{ item }}
                </a>
            {% endfor %}
        </div>
    </div>



    {% set  _ = 'diary-inner' %}
    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h1 class="{{ _ }}__title h1 color--yellow">
                    Как я решила <br> работать дома
                </h1>
                <div class="{{ _ }}__article">
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__text">
                            <p>Я начала работать в вебкаме с 19 лет. Сначала меня позвала подружка в свою студию, через
                                полгода я уже была в другой. И после работы в разных студиях, в плохих, хороших и очень
                                плохих, я поняла, что мне нужно!  </p>
                            <p>У меня такой большой опыт, знания и даже клиенты! Я знаю даже больше, чем знают оунеры.
                                Но честно говоря, я просто устала искать что-то идеальное для себя и решила начать
                                работать дома.  </p>
                            <p>У меня была достаточно симпатичная квартира без бабушкиного ремонта, я купила хороший
                                ноутбук и камеру, добавила украшения в интерьер. Я потратила достаточно крупную сумму,
                                и  думала, что быстро верну свои деньги и  сверну горы (ха! дальше вы узнаете, что
                                вышло). И вот я начала готовиться к своему первому стриму дома. Как же меня взбесило все
                                в тот день.</p>
                        </div>
                        <div class="{{ _ }}__photo img">
                            <img src="images/{{ _ }}/1.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__text">
                            <strong>Как я готовилась.  </strong>
                            <br>
                            <br>
                            <p>Я, конечно, обновила интернет — выбрала самый дорогой тариф. Но, кто ж знал, что цифры в
                                тарифе не гарантируют скорости… Я долго пользовалась ВПН на своем iPhone, который мне
                                поставил друг, но на ноут его поставить было проблематично. Были проблемы с прокси,
                                соединением и антидектом (девочки, гуглите! я тоже ничего об этом не знала).</p>
                            <p>  В тот день с каждым дальнейшим своим шагом в подготовке я бесилась все больше и больше.
                                С интернетом мне помог друг, поменяли провайдера и подключили 2 линии для стабильного
                                интернета — пришлось купить новый роутер. Он же помог купить специальный приватный VPN и
                                поставить нужные программы для шифрования — без программ, даже с VPN площадки видят, что
                                я в России и блокируют.  </p>
                            <p>Затем у меня не подключалась камера, звук был плохой, так как микрофон находился далеко
                                от меня в камере, а звук из ноутбука был тихий — я забыла купить колонки.</p>
                            <p>  А еще было мало света в кадре и у меня был желтый оттенок кожи — нужно было купить
                                кольцевой светильник и добавить дополнительную подсветку.  </p>
                            <p>Да, со временем я с многими моментами разобралась, но так и не решила часть до конца.
                                Потратила кучу время и нервов решила, что и так хорошо. Главное, что я - звезда и все
                                будет супер и так!  </p>
                            <p>Затем, я провела тестовый стрим. Моя мяукающая кошка залезла в кадр, мужик позвонил в
                                домофон, перепутав номер квартиры, а за стеной было слышно соседку, орущую на своего
                                мужика. Мне было его даже жаль! Ха-ха-ха! (Нет)  Но все это можно было решить и я
                                решила.</p>

                        </div>
                        <div class="{{ _ }}__photo img">
                            <img src="images/{{ _ }}/2.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__text">
                            <strong>Как у меня все получилось.  </strong>
                            <br>
                            <br>
                            <p>Ладно, перейдем дальше. Промо прошло хорошо, я вывезла на своих постояшках, которые
                                вернулись ко мне. Ладно, если быть честной, то первые три месяца я прям хорошо работала!
                                Чувствовала себя прям бизнес вумен, вся такая успешная, при бабках. Вставала рано по
                                старой памяти и делала хорошие чеки.  </p>
                            <p>Бывали и проколы, когда вдруг отключали электричество или интернет. Но по-факту прошло
                                пять классных месяцев работы на себя. Я реально много зарабатывала и не успевала
                                тратить. И тадаааам. Случилась первая БОЛЬШАЯ проблема.</p>

                        </div>
                        <div class="{{ _ }}__photo img">
                            <img src="images/{{ _ }}/3.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__text">
                            <strong>Финансовый мониторинг.  </strong>
                            <br>
                            <br>
                            <p>У меня блокают карту за сомнительные транзакции.  </p>
                            <p>Что подозрительного в работе дома на вебка? ахахах. Вы же меняли крипту на рубли? Я — да
                                и это звучит проще, чем на самом деле. Рассказывать сколько сил я потратила, на
                                объяснение банку откуда я получила эти деньги, я не буду. Просто у каждого банка есть
                                финансовый контроль, о котором я конечно же не думала. А вы знали? А вот, оказывается,
                                нельзя просто так взять и перегонять большие суммы денег по карте. Раз-раз и копы или в
                                банке зададут вопрос о происхождении баблишка. Думаете, я что-то доказала? Конечно же
                                нет. Я же не могла просто так отправить менеджера банка на свой стрим! Ахахаха! Вот был
                                бы номер! (Кстати, почему я не попробовала). Я не нашла ничего лучше, чем завести карту
                                в другом банке.</p>
                            <p>  А затем была еще одна карта, потом еще одна. Омммммм, терпения мне. Как я злюсь
                                вспоминая это. Ладно, идем дальше!</p>
                        </div>
                        <div class="{{ _ }}__photo img">
                            <img src="images/{{ _ }}/4.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__text">
                            <strong>Провал № 2. ТАЙМ-МЕНЕДЖМЕНТ  </strong>
                            <br>
                            <br>
                            <p>Окупила часть своих денег влитых в хоум офис. Комп, свет, подсветки, частично новая
                                мебель, камера, микрофон, новые шмотки, развлекухи для кошки (меня)-ахахах! И далее
                                началось самое интересное.  </p>
                            <p>Я вдруг решила, что мне можно вставать не так рано, работать не так часто, откладывать
                                работу на потом. Потом мч позвал внепланово смотаться в Питер. Потом подружку побил ее
                                мужик и мы вынашивали план мести и искали парня, который мог бы осуществить эту месть!
                                (ой, не туда!) И покатиииились. Я верила и говорила, что это обстоятельства, что завтра
                                я проснусь и вернусь.</p>
                            <p>  Покатились на дно мои чеки, мои фантазии о меньше работать и больше зарабатывать.
                                Короче все пошло плохо. Но заставить себя что-то изменить было уже поздно. Я не могла
                                взять себя в руки и вернуться в стабильный график. Моей странице настал пипец, я не
                                смогла с ней работать дальше.</p>
                            <p>  Я решила зарегать новую страницу. Но промо уже не так сказочно зашло, с дисциплиной все
                                еще были проблемы, общаться с мемберами бесило. Мне просто хотелось той же легкости от
                                общения, мне снова хотелось быстрых денег!  Настроение - отстой. Все злило, пробовала
                                другие сайты, но  из-за упадка настроения и отсутствия бабок, поддержки (а ведь не
                                позвонишь маме или мч, чтобы поделиться СОКРОВЕННЫМИ проблемами на работе) — ничего не
                                вышло.</p>

                        </div>
                        <div class="{{ _ }}__photo img">
                            <img src="images/{{ _ }}/5.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__text">
                            <strong>ДНО.  </strong>
                            <br>
                            <br>
                            <p>Деньги в запасе еще были, но уже не так много. Я попробовала еще раз и поняла, что к
                                черту оно! Я сама не вывожу. Я попробовала пойти консультантом в шоурум, пойти работать
                                хостесс. Работала там день или два и уходила, просто не брала трубку, с пониманием, что
                                я туда не выйду.  </p>
                            <p>Я стала занимать деньги у своего мч, он порывался было пойти поговорить в мою IT-компанию
                                и поговорить, что так задерживать зарплату нельзя! (Нет, ну а что мне надо было ему
                                сказать ))).  </p>
                            <p>Я написала подругам по моей «старой конторе» — те что остались в России или сменили
                                работу и ушли на меньшие заработки или вернулись в студии, те что переехали, стали
                                осваивать онлифанс. Я не хотела уезжать, да и не видела смысла куда-то ехать, у меня
                                здесь мой парень, квартира.</p>
                            <p>  И я решила вернуться в студию. Но это другая история.</p>
                        </div>
                        <div class="{{ _ }}__photo img">
                            <img src="images/{{ _ }}/6.jpg" alt=""/>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>



    {% set  _ = 'diary-inner-check' %}
    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__description">
                    <strong>Чек-лист для работы дома  </strong>
                    <p>Я прошла 5 кругов ада, а чтобы ты прошла всего один, вот чек-лист, который поможет тебе работать
                        из дома:</p>

                </div>
                <div class="{{ _ }}__list">
                    <div class="{{ _ }}__item">
                        <strong>Обустройство комнаты и интерьера</strong>
                        <br>
                        <br>
                        <ol class="ol">
                            <li>Декор: подушки, мелкие аксессуары — неоновую надпись, фигурку, растения, может быть
                                цветы, рамки с фото.  
                            </li>
                            <li>Шторы: не забудь про естественный, но яркий свет днем, но его тоже нужно регулировать
                                легкой шторой или занавеской, возможно тебе понадобится легкая тюль от любопытного
                                соседа. Блэкаут шторы важны для создания определенной атмосферы.  
                            </li>
                            <li>Соблюдение гаммы и дизайна интерьера: посмотри картинки на pinterest и сохрани для себя
                                примеры, чтобы арендовать квартиру с подходящим интерьером или обновить интерьер в своей
                                собственной.
                            </li>
                        </ol>

                    </div>

                    <div class="{{ _ }}__item">
                        <strong> Костюмы и игрушки</strong>
                        <br>
                        <br>
                        <p>  Тут все на твое усмотрение, но образ нужно продумывать! Как и приобрести игрушки.</p>
                    </div>
                    <div class="{{ _ }}__item">
                        <strong>
                            Финансы, продвижение  </strong>
                        <br>
                        <br>
                        <ol class="ol">
                            <li>Зарубежный счет в банке с дебетовой картой. Цена: от 15000 р. до 50000 р. за открытие
                                удаленного счета  
                            </li>
                            <li>Профессиональная фото и видеосъемка для профайла. Цена: от 20000 р.  </li>

                        </ol>
                        <p> Итого: от 35 000 р. до 70 000 р. за разовое оформление.
                        </p>
                    </div>
                    <div class="{{ _ }}__item">
                        <strong>Состав оборудования</strong>
                        <br>
                        <br>
                        <ol class="ol">
                            <li>Роутер с 2 WAN линиями: Wi-Fi роутер Xiaomi Mi Wi-Fi Router 4A (самый простой) или
                                AC2100. Цена от 2000 до 5000 р.  2.
                            </li>
                            <li> 2 линии интернета, на случай отключения одной из линий.</li>
                            <li> Logitech BRIO 4K Ultra HD Цена от 18400 р. (варьируется от курса).  </li>
                            <li>Микрофон:YETI NANO Цена от 9100 р.  </li>
                            <li>Ноутбук: Lenovo IdeaPad 3 Цена от 38000 р.  </li>
                            <li> LED светодиодная лампа RL-21 (минимум 2 шт) Цена от 5600 р. (варьируется от курса).  
                            </li>
                            <li>Беспроводные клавиатура и мышь. Цена от 3000 рублей.  Итого: комплект оборудования с
                                ориентировочной стоимостью 82000 р.
                            </li>
                        </ol>

                        <p>Итого: комплект оборудования с ориентировочной стоимостью 82000 р.</p>

                    </div>
                    <div class="{{ _ }}__item">
                        <strong> Технические настройки и софт  </strong>
                        <br>
                        <br>
                        <ol class="ol">
                            <li>Antydetect браузер с proxy серверами  </li>
                            <li>Приватный VPN  </li>

                        </ol>
                        <p> Итого: разовая регистрация и настройка от 2000 р. и ежемесячная оплата северов, а также
                            поиск специалиста, кто это настроит.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>






    {% set  _ = 'diary-inner-recommendation' %}
    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__text">
                    В профессиональных студиях оборудование, интерьер на порядок выше, чтобы получить лучшую картинку. В
                    студиях есть костюмы, большие мониторы и уникальные VR-камеры, стоимостью от 85 000 р. с эффектом
                    присутствия,  которые дают больше трафика и денег для модели. В профессиональных студиях
                    используются Logitech ConferenceCam Rally стоимостью от 170 000 р., которая позволяет фокусироваться
                    на движении модели.
                </div>

                <div class="{{ _ }}__chat">
                    <strong> Рекомендации WModels</strong>
                    <br>
                    <br>
                    <p>Все эти чек-листы у нас соблюдены, можешь проверить, а можешь не проверять и сэкономить время, заполнив заявку.  </p>
                    <p>Ну или открыть анонимный чат и задать свои вопросы управляющей, не нужно оставлять свой номер
                        телефона или e-mail, просто спроси все, что тебя волнует.</p>
                    <a href="#" class="btn btn--yellow btn--shadow">
                        Открыть чат
                    </a>
                </div>

            </div>
        </div>
    </div>


    {% set  _ = 'diary-inner-buttons' %}
    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <a href="#" class="btn btn--yellow btn--shadow-second">Вернуться к дневникам</a>
                <a href="#" class="btn btn--orange btn--shadow-second">Отправить заявку</a>

            </div>
        </div>
    </div>






{% endblock content %}