{% set page = { title: 'Вакансии', background: 'secret' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}

    <div class="container">
        <div class="breadcrumbs">
            {% set  list = [
                'Wmodels',
                'Секретный чат'] %}

            {% for item in list %}
                <a href="#" class="breadcrumbs__link">
                    {{ item }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% set  _ = 'secret' %}
    <div class="{{_}}">
        <div class="container">
            <h1 class="h1 color--yellow text-center">Секретный чат</h1>
        </div>

    </div>


{% endblock content %}