{% set  _ = 'general-vacancy' %}
<div class="{{ _ }} section">
    <div class="container">
        <div class="{{ _ }}__wrap">
            <div class="{{ _ }}__head">
                {% set  list = [
                    'Вебкам модель',
                    'Администратор',
                    'Тренер',
                    'Модельный скаут',
                    'HR Менеджер'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__head-item">
                        {{ item }}
                    </a>
                {% endfor %}
            </div>
            <div class="{{_}}__body">
                <div class="{{_}}__item">
                    <h2 class="{{ _ }}__title h1 color--pink">
                        Вебкам модель
                    </h2>
                    <div class="{{_}}__block">
                        <div class="{{_}}__search">
                            <div class="{{_}}__block-title">
                                Мы ищем
                            </div>
                            
                            
                            {% set  list = [
                                'Возраст от 18 до 35 лет',
                                'Приятная внешность',
                                'Эмоциональных и открытых',
                                'Желающих хорошо зарабатывать',
                                'Смелых и активных']
                            %}
                                

                            <ul class="{{_}}__list ul">
                                {% for item in list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        
                        </div>
                        <div class="{{_}}__reseption">
                            <div class="{{_}}__block-title">
                                ВЫ ПОЛУЧАЕТЕ
                            </div>


                            {% set  list = [
                                'Высокий заработок: от 120 000 ₽',
                                'Комфортный и красивый офис',
                                'Комнаты с дизайнерскими  интерьерами',
                                'Работа в активном и целеустремленном коллективе',
                                'Тренера, способные раскрыть  потенциал каждой модели']
                            %}


                            <ul class="{{_}}__list ul">
                                {% for item in list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="{{_}}__photo img">
                            <img src="images/{{ _ }}/1.png" alt=""/>
                        </div>
                    </div>
                    <a href="#" class="btn btn--yellow btn--shadow">Заполнить анкету</a>
                </div>

            </div>

        </div>
    </div>
</div>