{% set  _ = 'general-corporate' %}
<div class="{{ _ }} section">
    <div class="container">
        <div class="{{ _ }}__wrap">
            <h2 class="{{ _ }}__title h1 color--yellow">
                Новое видео  с корпоратива уже скоро!
            </h2>
            <div class="{{ _ }}__subtitle">
                А пока вы можете просмотреть галерею наших фотографий с предыдущих корпоративов
            </div>
            <div class="{{ _ }}__img img">
                <img src="images/{{ _ }}/1.png" alt=""/>
            </div>


            <a href="#" class="btn btn--yellow btn--shadow">Cмотреть галерею</a>


        </div>
    </div>
</div>