{% include "./header.njk" %}

<!-- content -->
<div class="content-wrapper">
    {% set s = "./2.parts/section.njk" %}
    {% block content %}




    {% endblock %}
</div>
<!-- content -->

{% include "./footer.njk" %}



