{% include "./header.njk" %}

<div class="background background--{{ page.background }}">
    <!-- content -->
    <div class="content-wrapper">
        {% set s = "./2.parts/section.njk" %}
        {% block content %}




        {% endblock %}
    </div>
    <!-- content -->
</div>


{% include "./footer.njk" %}



